* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    line-height: 1.5;
}

/*Navigation styling*/

.nav-container {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(36, 62, 255);
    padding: 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navbar a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    padding: 1.2rem 1rem;
    position: sticky;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out, font-size 0.35s ease-in-out;
}

.navbar a:hover {
    background-color: aliceblue;
    color: rgb(36, 62, 255);
    border-bottom: 5px solid rgb(36, 62, 255);
    font-size: 1.6rem;
    /*text-decoration: underline;*/
}

/*Header styling*/

.two-column-header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 0px;
    margin-bottom: 20px;
}

.header-column {
    flex-basis: 48%;
}

.header-column h1 {
    font-size: 6.5rem;
    line-height: 1;
}

.header-column img {
    height: 350px;
    width: auto;
    margin-left: 200px;
}

/*Main section underneath header styling*/

.main-section {
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 62, 255);
    padding-bottom: 70px;
    color: white;
}

.paragraph {
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 1.5rem;
    flex-basis: 65%;
}

.links {
    margin-top: 20px;
    margin-right: 80px;
}

.links ul {
    list-style: none;
}

.links li {
    margin-bottom: 10px;
}

.links a{
    color: white;
    text-decoration: none;
    font-size: 4rem;
    flex-basis: 32%;
    border: 5px solid white;
    border-radius: 20px;
    padding: 5px;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.links a:hover {
    color: rgb(36, 62, 255);
    background-color: white;
}

/*About us section styling*/

.two-column-section {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(36, 62, 255);
}

.column {
    flex-basis: 45%;
    display: block;
    text-align: center;
    margin-right: 20px;
}

.column h1 {
    font-size: 6.5rem;
    color: white;
    margin-top: 50px;
    margin-left: 60px;
}

.info-box {
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 25px;
    margin-right: 80px;
    font-size: 1.5rem;
    list-style: none;
}

.column ul {
    margin-left: 60px;
    margin-right:-10px;
}